html, body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;       
}
#search-box{
    float:right;
}
body {
    background-color: #E0FFFF;
}
#side {
  width: 70%;     /* specify a width! */
  margin: 0 auto; /* center */
}

header {
    width: 100%;
    height: 100px;
}

h1 {

    margin: 0;
    padding: 0;
    line-height: 75px;
}

nav, ul {

    width: 100%;
    height: 50px;

    margin: 0;
    padding: 0;

    background-color: 	#0000FF;
}

ul {
    height: 100%;
    background-color: #0000FF;
    list-style-type: none;
}

li {
    display: block;
    float: left;

    height: 100%;
    width: 16.65%;

    text-align: center;

    line-height: 50px;
}

a {
    display: block;
    color:white;
    text-decoration: none;
}

a:hover {
    color:white;
    background-color: navy;
}
img {
    float: left;
    margin: 0px 10px 0px 0px;
}
p {
margin-bottom: 450px;
}

.box {
  background: #98FB98;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 400px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28pt;
}
.box:hover {
  background: #191970;
  border-radius: 50%;
}
textarea{
    width: 250px;
    height: 50px;
}
#map{
     float: right;
     margin: 20px;
}
.logo{
    margin: 10px 10px 10px 10px;
}




